@model IEnumerable<AspNetFinalProject.Models.Entity.Portfolio>
@{
    ViewBag.Title = "PortFolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  id="portfolio">
    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">PORTFOLIO</h5>

        <!-- PORTFOLIO -->
        <section class="portfolio padding-top-50 padding-bottom-50">
            <!-- Work Filter -->
            <!-- PORTFOLIO ITEMS -->
            <div id="Container" class="item-space row col-3">

                @foreach (var item in Model)
                {
                    <!-- ITEM -->
                    <article class="portfolio-item mix pf-web-design">
                        <div class="portfolio-image">
                            <a href="@item.Link"> <img class="img-responsive" alt="Open Imagination" src="~/Uploads/@item.MediaUrl"> </a>
                            <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                    <div class="position-center-center">
                                        <h3 class="no-margin">@item.Name</h3>
                                        <span><a href="@item.Link">@item.Category</a></span>
                                        <a href="@item.Link" class="go"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                }
            </div>
        </section>
    </div>
</div>
