@model AspNetFinalProject.Models.Entity.Portfolio

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@section css{

    <style>

        #news-image {
            min-width: 400px;
            min-height: 300px;
            cursor: pointer;
            width: 100%;
        }

        .image-container {
            position: relative;
            height: unset;
            border-color: transparent;
            width: 44%;
            margin: 0 auto;
        }

        img[src=""] + i.empty-icon:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            cursor: pointer;
            content: "\f030";
            font-size: 42pt;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        img + i + a > i.clear-icon:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f00d";
            font-size: 12pt;
        }

        i.header-right-button {
            right: 24px;
            top: 14px;
            position: absolute;
            cursor: pointer;
        }

        img[src=""] + i + a > i.clear-icon::after {
            display: none;
        }
    </style>
}



@section script {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('.validation-summary-errors').each(function () {
                $(this).addClass('alert');
                $(this).addClass('alert-danger');
            });
            $('form').each(function () {
                $(this).find('div.form-group').each(function () {
                    if ($(this).find('span.field-validation-error').length > 0) {
                        $(this).addClass('has-error');
                        $(this).find('span.field-validation-error').
                            removeClass('field-validation-error');
                    }
                });
            });
        });

        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#news-image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        var removePhoto = function () {
            document.getElementById('fileName').value = '';
            document.getElementById('mediaUrl').value = '';
            document.getElementById('news-image').src = '';
        }
    </script>
}
    @using (Html.BeginForm("Create", "Portfolio", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", id = "createInfo" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Portfolio</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MediaUrl, htmlAttributes: new { @class = "control-label" })
                <label class="form-control image-container">
                    <img src="" id="news-image" />
                    <i class="empty-icon"></i>
                    <a href="javascript:removePhoto()"><i class="clear-icon header-right-button"></i></a>
                    @Html.EditorFor(model => model.MediaUrl,
                new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        type = "file",
                        style = "display:none",
                        accept = "image/*",
                        onchange = "readURL(this)",
                        id = "mediaUrl"
                    }
                })
                </label>
                @Html.ValidationMessageFor(model => model.MediaUrl, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
