@model IEnumerable<AspNetFinalProject.Models.Entity.Portfolio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{

    <style>

        #news-image {
            min-width: 400px;
            min-height: 300px;
            cursor: pointer;
            width: 100%;
        }

        .image-container {
            position: relative;
            height: unset;
            border-color: transparent;
            width: 44%;
            margin: 0 auto;
        }

        img[src=""] + i.empty-icon:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            cursor: pointer;
            content: "\f030";
            font-size: 42pt;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        img + i + a > i.clear-icon:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f00d";
            font-size: 12pt;
        }

        i.header-right-button {
            right: 24px;
            top: 14px;
            position: absolute;
            cursor: pointer;
        }

        img[src=""] + i + a > i.clear-icon::after {
            display: none;
        }
    </style>
}

@section script {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('.validation-summary-errors').each(function () {
                $(this).addClass('alert');
                $(this).addClass('alert-danger');
            });
            $('form').each(function () {
                $(this).find('div.form-group').each(function () {
                    if ($(this).find('span.field-validation-error').length > 0) {
                        $(this).addClass('has-error');
                        $(this).find('span.field-validation-error').
                            removeClass('field-validation-error');
                    }
                });
            });
        });

        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#news-image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        var removePhoto = function () {
            document.getElementById('fileName').value = '';
            document.getElementById('mediaUrl').value = '';
            document.getElementById('news-image').src = '';
        }
    </script>

    <script>
        function CreateNew() {
            var info = $("#createInfo").serialize()
            $.ajax({
                url: '@Url.Action("Create","Portfolio")',
                type: 'POST',
                data: info,
                success: function (response) {
                    $("#TableBodyAB").html(response);
                    $("#exampleModalCenter").find("input").val("");
                    $("#exampleModalCenter").modal('hide')
                } ,
                error: function (response) {
                    console.log(response);
                }
            })


        }
    </script>

}
<p>
    @Html.ActionLink("Create","Create")
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MediaUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody id="TableBodyAB"></tbody>
    @Html.Partial("~/Areas/Admin/Views/Partials/_PortfolioListPartial.cshtml", Model)
</table>
